{% extends "base_generic.html" %}
{% block title %}<title>Local Library Home Page</title>{% endblock %}
{% block content %}
<h1>Local Library Home</h1>
<p>Welcome to LocalLibrary, a website developed by <em>Kamlesh Patidar</em>!</p>
<h2>Dynamic content</h2>
<p>The library has the following record counts:</p>
<ul>
    <li><strong>Books:</strong> {{ num_book }}</li>
    <li><strong>Copies:</strong> {{ num_book_instances }}</li>
    <li><strong>Copies available:</strong> {{ num_book_available }}</li>
    <li><strong>Authors:</strong> {{ num_author }}</li>
    <li><strong>Book with title first:</strong> {{ num_book_first }}</li>
    <li><strong>Book with Horror Genre:</strong> {{ num_horror_genre }}</li>
</ul>
<p>You have visited this page {{ num_home_visted }}{% if num_home_visted == 1 %} time{% else %} times{% endif %}.</p>

{% endblock %}